<!DOCTYPE html>
<html lang="en" ng-app="accountApp">
<head>
  <meta charset="UTF-8">
  <title>My Account | CSW Clubs</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="../css/style.css">

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
  <script src="../js/accountApp.js"></script>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/account">Account</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>
<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-4">
        <div class="container">
          <a href="#" class="brand-logo">CSW Clubs</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/clubs/cards"><i class="material-icons">view_module</i></a></a></li>
            <li><a href="/clubs/list"><i class="material-icons">view_list</i></a></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<main ng-controller="AccountController">
  <div class="row center" ng-show="state==0">
    <br><br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
      </div>
    </div>
  </div>
  <div class="container" ng-show="state==1">
    <div class="row center">
      <br><br>
      <h1 class="blue-text text-darken-4">Account Information</h1>
      <br><br>
      <div class="col s12 m6">
        <div class="card blue darken-3 hoverable">
          <div class="card-content white-text">
            <span class="card-title"><i class="material-icons">account_circle</i>  Name</span>
            <p>{{name}}</p>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card blue darken-3 hoverable">
          <div class="card-content white-text">
            <span class="card-title"><i class="material-icons">email</i>  Email</span>
            <p>{{email}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <table class="col s12">
        <thead>
        <tr>
          <th data-field="name">All Subscribed Clubs</th>
          <th data-field="unsub">Unsubscribe</th>
        </tr>
        </thead>
      <tbody>
      <tr ng-repeat="club in clubs">
        <td>{{club.name}}</td>
        <td><i class="material-icons blue-text" ng-click="unsubscribe(club.id)">remove_circle_outline</i></td>
      </tr>
      </tbody>
      </table>
    </div>
  </div>
</main>
<footer class="page-footer blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer</h5>
        <p class="grey-text text-lighten-4">I need to put words here.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="yellow-text" href="http://h313.github.io">Haoda Wang</a>
      <a class="grey-text text-lighten-4 right" href="http://club-charterhelper.rhcloud.com/haproxy-status/">&pi;</a>
    </div>
  </div>
</footer>
</body>
</html>