<!DOCTYPE html>
<html lang="en" ng-app="newClubApp">
<head>
  <meta charset="UTF-8">
  <title>New Club | CSW Clubs</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="../css/style.css">

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
  <script src="../js/newClubApp.js"></script>
  <script>
    (function($){$(function(){$('.button-collapse').sideNav();});})(jQuery);
  </script>
</head>
<body>
<header>
  <nav class="blue darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">CSW Clubs</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/clubs/cards"><i class="material-icons">view_module</i></a></li>
        <li><a href="/account"><i class="material-icons">account_circle</i></a></li>
        <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/clubs/cards">View Clubs</a></li>
        <li><a href="/account">My Account</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
<main ng-controller="NewClubController">
  <div class="container" ng-show="state==0">
    <div class="row center">
      <br><br>
      <h1 class="blue-text">Make Your Own Club!</h1>
      <br><br>
      <h5 class="light">Confused? Ask Harry for help!</h5>
      <br><br>
    </div>
    <form class="row" ng-submit="create()">
      <div class="input-field col s12 m6 l6">
        <i class="material-icons prefix">group_work</i>
        <input ng-model="name" id="name" type="text" class="validate">
        <label for="name">Club Name</label>
      </div>
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">add_a_photo</i>
          <input ng-model="image" id="image" type="text" class="validate">
          <label for="image">URL To Image</label>
        </div>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <input ng-model="short" id="short" type="text" class="validate" length="300">
        <label for="short">Short Description</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <textarea ng-model="long" id="long" class="materialize-textarea"></textarea>
        <label for="long">Long Description</label>
      </div>
      <div class="center">
        <button class="btn waves-effect waves-light blue darken-4" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
  <div class="container" ng-show="state==1">
    <br><br>
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
      </div>
    </div>
    <br><br>
    <h3 class="light">Do not close or refresh this page.</h3>
  </div>
  <div class="container" ng-show="state==2">
    <h3 class="light">Club Made!</h3>
  </div>
</main>
<footer class="page-footer blue darken-4">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">OK, this shouldn't be so hard. Put words in the description. Put a name in the name. Put an image URL into the image. If you still need help, email me at <a href="mailto:wang.haoda@charterschool.org">wang.haoda@charterschool.org.</a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="yellow-text" href="http://h313.github.io">Haoda Wang</a>
      <a class="grey-text text-lighten-4 right" href="http://club-charterhelper.rhcloud.com/secret/">&pi;</a>
    </div>
  </div>
</footer>
</body>
</html>
